.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2874a6;
  padding: 1rem;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar-links a.active {
  font-weight: bold;
}

.navbar-links a:hover {
  text-decoration: underline;
}
