<div class="filter-container">
  <div class="filter">
    <label for="tendencia">Filtrar por tendencia:</label>
    <select
      name="tendencia"
      id="tendencia"
      [(ngModel)]="trending"
      (change)="cambiarTendencia()"
    >
      <option value="day">Diaria</option>
      <option value="week">Semanal</option>
    </select>
  </div>
  <div class="button-container">
    <button class="styled-button" (click)="previousPage()">Atrás</button>
    <button class="styled-button" (click)="nextPage()">Siguiente</button>
  </div>
</div>

<div class="shows-container">
  @for (show of shows$ | async; track show) {
  <app-card [object]="show"></app-card>
  }
</div>
