<div style="margin: 20px; text-align: center">
  <label for="tendencia" style="font-size: 16px; margin-right: 10px"
    >Filtrar por tendencia:</label
  >
  <select
    name="tendencia"
    id="tendencia"
    [(ngModel)]="tendenciaFiltrada"
    (change)="cambiarTendencia()"
    style="
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    "
  >
    <option value="day">Diaria</option>
    <option value="week">Semanal</option>
  </select>
  <div class="button-container">
    <button class="styled-button" (click)="previousPage()">Atrás</button>
    <button class="styled-button" (click)="nextPage()">Siguiente</button>
  </div>
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  @for (show of shows; track show) {
  <app-card-show [show]="show"></app-card-show>
  }
</div>
