body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.filter {
  display: flex;
  align-items: center;
}

.filter label {
  font-size: 16px;
  margin-right: 10px;
}

.filter select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.styled-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.styled-button:hover {
  background-color: #0056b3;
}
